/test-results/
/playwright-report/
/playwright/.cache/

# Dependency directories
node_modules

# Build directories
dist
dist-test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# npm pack
*.tgz
